.App {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.App > div {
  margin-right: 50px;
}
.header{

}
.headerContainer{
  padding: 10px;
  width: 100%;
  height: max-content;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
