.todolistContainer{
    font-family: Montserrat;
    height: max-content;
    /*border-radius: 5px;*/
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}
.todolistTitleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.todolistTitleContainer h3{
    align-self: flex-start;
}
.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
    font-size: 12px;
}
.emptyMessage {
    font-size: 12px;
}

.isDone {
    opacity: 0.5;
}